@import "my_variables";

a.active {
    background-color: #76323F;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: lighten(#D7CEC7, 5%);

}

html {
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 1 0 auto;
}


.card-image{
    height: 53%;
}

.img_logo{
    height: 30px;
    margin: 5px;
}


.img_logo:hover{
    opacity: 0.60;
}


.img_logo_white{
    filter: brightness(0) invert(1);
}

.all_logos{
    text-align: center;
}

.not-streched{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.not-streched-contact{

    background-image: url("/static/img/contacts.jpg");
}

.card-margin{
    margin: 20px;
}

#success-card{
    padding: 50px 50px 25px 50px;
    margin-top: 10%;
}

.right{
    float: right;
}

.success-button{
    margin-top: 25px;
    float: right;
}

.product-img {
    width: 100%;
    min-height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.brand-logo {
    margin-left: 50px;
}

.contact-data {
    line-height: 30px;
}

.costum-color{
    background-color: #D7CEC7;
}

.costum-color-2{
    background-color: lighten(#a1887f, 10%);
}

#caption-text{
    color: lighten(#D7CEC7, 20%);
    opacity: 0.8;
}

.section-header{
    color: $secondary-color;
}

.product-data{
    color: $secondary-color;
    font-weight: bolder;
}

.product-description{
    color: $secondary-color;
    font-weight: bolder;
}

.description-p{
        text-align: right;
}

.logo{
    font-family: 'Homemade Apple', cursive;
}

.section {
    margin-bottom: 50px;
}

.collapsible-body li {
    list-style-type: disc !important;
    margin-left: 30px;
}