{% extends 'base.html' %}

{% block title %}
    Search
{% endblock %}
{% block content %}
    <div class="row">
        <form method="get" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">search</i>
                    <input id="q" name="q" type="text">
                    <label for="q">Search</label>
                </div>
            </div>
        </form>
    </div>
{% include 'blog/list_posts.html' %}
{% endblock %}