{% load static %}

<!DOCTYPE html>
<html lang="si">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">#}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/materialize.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
            <div class="row">
                <div class="col l6 s12 m6 offset-l3 offset-m3 center-align">
                    <a target="_blank" href="https://www.linkedin.com/in/%C5%A1pela-giacomelli-508a84130/">
                          <img src="{% static "img/linkedin.png" %}" class="img_logo">
                      </a>
                      <a target="_blank" href="https://github.com/GiaEla">
                          <img src="{% static "img/github.svg" %}" class="img_logo img_logo_fb">
                      </a>

                </div>
                <div class="col l3 m3 s12 center-align">
                    <p>
                        © 2017 Giacomelli
                    </p>
                </div>
            </div>
    </footer>

    <script>
        $(document).ready(function(){
            $('.scrollspy').scrollSpy({
                scrollOffset: 300
            });
        });
    </script>
</body>
</html>