{#jquery plugin options ?#}


{% extends "base.html" %}
{% load static %}

{% block title %}
    Moneytalks
{% endblock %}



{% block header %}
    <div class="slider">
    <ul class="slides">
        {% for product in last_products %}
          <li>
            <img src="{{ product.img.url }}"> <!-- random image -->
            <div class="caption center-align">
              <h2>{{ product.name }}</h2>
            </div>
          </li>
        {% endfor %}
    </ul>
  </div>
    <script>
        $(document).ready(function(){
            $('.slider').slider(
                {
                    interval: 1000
                }
            );

            $('.modal').modal();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
    {% for product in all_products %}
        <div class="col s12 m4 l3">
          <div class="card small" style="position: relative">
            <div class="card-image">
              <img src="{{ product.img.url }}">
              <span class="card-title">{{ product.name }}</span>
            </div>
            <div class="card-content" style="position: absolute; bottom: 20px;">
                Velikost: {{ product.size }} <br>
                Cena: {{ product.price }}
            </div>
            <div class="card-action">
              <a href="{% url 'products' pk=product.id %}">Naroči</a>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}