{#jquery plugin options ?#}


{% extends "base.html" %}
{% load static %}

{% block title %}
    Moneytalks
{% endblock %}



{% block header %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li class="logo"><a href="#"> Projekt Gia </a></li>
                </ul>
                <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#products">IZDELKI</a></li>
                    <li><a href="#about">O MENI</a></li>
                    <li><a href="#contact">KONTAKT</a></li>
                </ul>
                <ul class="side-nav" id="mobile">
                    <li><a href="#products">IZDELKI</a></li>
                    <li><a href="#about">O MENI</a></li>
                    <li><a href="#contact">KONTAKT</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="wrap">
        <div class="slider" id="home">
            <ul class="slides">
                {% for product in last_products %}
                    <li>
                        <img src="{{ product.img.url }}">
                        <div class="caption left-align">
                            <h1 id="caption-text">{{ product.name | upper }}</h1>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();

            $('.slider').slider(
                {
                    interval: 5000
                }
            );

            $(document).ready(function(){
                $('.materialboxed').materialbox();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <!-- products section -->
          <div class="row section scrollspy card-panel costum-color" id="products">
          <h2 class="center-align section-header">PONUDBA</h2>
        {% for product in all_products %}
            <div class="col s12 m4 l4">
                <a href="{% url 'products' pk=product.id %}">
                    <div class="card small hoverable costum-color-2">
                        <div class="card-image">
                            <img class="" src="{{ product.img.url }}">
                            <span class="card-title">{{ product.name | upper }}</span>
                        </div>
                        <div class="card-content">
                            {% if product.size != null %}
                                <p>Velikost: {{ product.size }}</p>
                            {% endif %}
                            <p>Cena: {{ product.price }} €</p>
                        </div>
                        <div class="card-action right-align">
                            <div class="waves-effect waves-light btn">Naroči</div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <!-- about me section -->
    <div class="row section scrollspy" id="about">
        <div>
            <div class="card-panel costum-color z-depth-1">
                <div class="row">
                        <div class="col s12 m12 l2">
                            <div class="circle not-streched not-streched-about">
                            </div>
                        </div>

                    <div class="col s12 m12 l10">
                        <h2 class="section-header">O MENI</h2>
                        <span class="flow-text">
                            V projektu Gia sem združila dve svoji veliki ljubezni - pomoč ljudem in programiranje.
                            Ker pripisujem lokalnim nakup velik pomen, sem želela omogočiti predstavitev na spletu tudi
                            majhnim, lokalnim podjetnikom, ki brez spletne strani težko konkurirajo velikim korporacijam.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- contact section -->
    <div class="row section scrollspy" id="contact">
    <div>
        <div class="card-panel costum-color z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s12 m10 offset-m2">
                    <h2 class="section-header">KONTAKT</h2>
                    <p class="flow-text">
                        Če si želite tudi vi za stranke postati dostopnejši, nas kontaktirajte na:
                    </p>
                    <p class="flow-text">
                         projekt.gia@gmail.com
                    </p>
                </div>
                <div class="col s12 m2">
                    <div class="circle not-streched not-streched-contact">
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
