{#<div>#}
{#    {{ form.errors }}#}
{#</div>#}
<form method="POST" class="post-form">
{% csrf_token %}

    <div class="input-field">
        {{ form.email }}
        <label for="email">Email</label>
        <span class="red">{{ form.errors.email.0 }}</span>
    </div>

        <div class="input-field">
        {{ form.comment }}
        <label for="comment">Opombe</label>
    </div>
    <button type="submit" class="waves-effect waves-light btn hoverable right"> Naroči </button>
</form>
<a href="/"><button class="waves-effect waves-light btn hoverable float-left"> Nazaj </button></a>