{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block header %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons">arrow_back</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col s12 m10 l6 offset-m1 offset-l3">
            <a href="{% url 'products' pk=product.id %}">
                <div class="card costum-color">
                    <div class="card-image center-align">

                        <a class="modal-trigger" href="#modal-image">
                            <div class="product-img" style="background-image: url('{{ product.img.url }}');"></div>
                        </a>
                        <span class="card-title">{{ product.name|upper }}</span>
                    </div>

                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m6 product-data">
                                od {{ product.price }}€
                                {% if product.month_price != null %}
                                    + {{ product.month_price }}€/mesec
                                {% endif %}
                            </div>
                            {% if product.size != null %}
                                <div class="col s12 m6 product-data">Velikost: {{ product.size }}</div>
                            {% endif %}
                        </div>
                        {% if product.description !=  null %}
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header costum-color product-description">
                                        <i class="material-icons">keyboard_arrow_down</i>
                                        OPIS
                                    </div>
                                    <div class="collapsible-body"><span>{{ product.description|safe }}</span></div>
                                </li>
                            </ul>
                            {#                            <div id="description" class="col m12 center-align truncate"> {{ product.description }}</div>#}


                        {% endif %}

                        {% include 'order_form.html' %}
                    </div>
                </div>
            </a>
        </div>
    </div>

    <img id="modal-image" class="modal" src="{{ product.img.url }}" width="100%" height="100%">


    <script>
        $(document).ready(function(){
            $('.modal').modal();
            $('.collapsible').collapsible();
        });

    </script>
{% endblock %}