{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block header %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/"><i class="material-icons">arrow_back</i></a></li>
            </ul>
        </div>
    </nav>
</div>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col s12 m10 l6 offset-m1 offset-l3">
            <a href="{% url 'products' pk=product.id %}">
                <div class="card costum-color">
                    <div class="card-image center-align">
                        <a href="/full-img/{{ product.id }}/">
                            <div class="product-img" style="background-image: url('{{ product.img.url }}');"></div>
                        </a>
                        <span class="card-title">{{ product.name }}</span>
                    </div>
                    <div class="card-content">
                        <row>
                            {% if product.size != null %}
                                <div class="col m3 product-data">Velikost: {{ product.size }}</div>
                                <div class="col m3 product-data offset-m6">Cena: {{ product.price }} € </div>
                            {% else %}
                                <div class="col m12 product-data center-align">Cena: {{ product.price }} € </div>
                            {% endif %}

                        </row>
                        {% if product.description !=  null %}
                            <br>
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header costum-color">
                                        {{ product.description |truncatewords:5}}
                                    </div>
                                  <div class="collapsible-body"><span>{{ product.description }}</span></div>
                                </li>
                            </ul>
{#                            <div id="description" class="col m12 center-align truncate"> {{ product.description }}</div>#}


                        {% endif %}

                        {% include 'order_form.html' %}
                    </div>
                </div>
            </a>
        </div>
    </div>
{#    <div class="col s12 m7">#}
{#        <div class="row">#}
{#            <div class="col s12 m8 offset-m2">#}
{#                <div class="card card-margin">#}
{#                    <div class="card-image materialboxed" style="background-image: url('{{ product.img.url }}'); min-height: 50vh; background-size: cover;background-repeat: no-repeat;">#}
{#                        <img src="{{ product.img.url }}" class="product-img">#}
{#                        <span class="card-title">{{ product.name }}</span>#}
{#                    </div>#}
{#                    <div class="card-content">#}
{#                        <div class="row">#}
{#                            <div class="col s6">#}
{#                                <h4>Velikost: {{ product.size }}</h4>#}
{#                            </div>#}
{#                            <div class="col s6">#}
{#                               <h4>Cena: {{ product.price }} €</h4>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="card-action">#}
{#                        {% include 'order_form.html' %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <script>
        $(document).ready(function(){
            $('.materialboxed').materialbox();
            $('#description').mouseenter(
                function(){ $(this).removeClass('truncate') }
            )
            $('#description').mouseleave(
                function(){ $(this).addClass('truncate') }
            )
        });
    </script>
{% endblock %}