{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block header %}

{% endblock %}


{% block content %}

    <div class="col s12 m7">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card card-margin">
                    <div class="card-image materialboxed">
                        <img src="{{ product.img.url }}">
                        <span class="card-title">{{ product.name }}</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Velikost: {{ product.size }}
                        </p>
                        <p>
                            Cena: {{ product.price }} €
                        </p>
                    </div>
                    <div class="card-action">
                        {% include 'order_form.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
          $(document).ready(function(){
            $('.materialboxed').materialbox();
          });
    </script>
{% endblock %}