{% extends "base.html" %}
{% block title %}
    Uspešno oddano naročilo
{% endblock %}
{% block content %}
<div class="row valign-wrapper">
        <div class=" card-panel brown lighten-2 col s8 offset-s2" id="success-card">
          <span class="white-text">
              Zahvaljujemo se vam za naročilo. Na mail boste prejeli potrditev naročila z nadaljnimi navodili.
          </span>
            <div>
                <a href="/"><button class="success-button waves-effect waves-light btn hoverable"> V redu </button></a>
            </div>
        </div>
</div>
{% endblock %}