{% extends "base.html" %}

{% block content %}
<div class="row valign-wrapper">
        <div class=" card-panel green lighten-1 col s8 offset-s2" id="success-card">
          <span class="white-text">
              Zahvaljujemo se vam za naročilo. Na mail boste prejeli potrditev naročila z nadaljnimi navodili.
          </span>
            <div>
                <a href="/"><button class="success-button waves-effect waves-light btn hoverable green darken-2"> Nazaj </button></a>
            </div>
        </div>
</div>
{% endblock %}